<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/header :: head(~{::link})">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/carousel.css}">
</head>
<body class="container-fluid px-0 d-flex flex-column min-vh-100">
	<header th:replace="fragments/header :: header"> </header>
	<main class="px-3">
	
		<div class="d-flex justify-content-center">
			<h1>Iniciar sesión</h1>
		</div>
		<div class="d-flex justify-content-center">
			<div th:if="${param.registrado}" class="alert alert-success">Registro de usuario correcto. Inicie sesión.</div>
			<div th:if="${param.error}" class="alert alert-danger">Nombre de usuario o contraseña no válido.</div>
			<div th:if="${param.logout}" class="alert alert-info">Has cerrado sesión correctamente.</div>
		</div>
		<div class="d-flex justify-content-center">
			<form th:action="@{/login}" method="post" class="mb-5">
				<div class="my-2">
					<label for="registroNombreUsuario" class="form-label">Nombre de usuario</label>
					<div class="col-auto">
						<input id="registroNombreUsuario" type="text" name="username" class="form-control" required="required" maxlength="50"/>
					</div>
				</div>
				<div class="my-2">
					<div class="col-auto">
						<label for="registroPassword" class="form-label">Contraseña</label>
						<div class="col-auto">
							<input id="registroPassword" type="password" name="password" class="form-control" required="required" maxlength="255"/>
						</div>
					</div>
				</div>
				<button class="btn btn-dark" type="submit">Iniciar sesión</button>
			</form>
		</div>
	</main>
	
	<footer th:replace="fragments/footer :: footer"> </footer>
	<th:block th:replace="fragments/footer :: baseScripts" />
</body>
</html>