<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/header :: head(~{::link})">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/carousel.css}">
</head>
<body class="container-fluid px-0 d-flex flex-column min-vh-100">
	<header th:replace="fragments/header :: header"> </header>
	<main class="px-3">
		
		<div class="d-flex justify-content-center">
			<h1 class="h2 mb-4">¿Está seguro de que quiere cerrar sesión?</h1>
		</div>
		<div class="d-flex justify-content-center">
			<form th:action="@{/logout}" method="post" class="mb-5">
				<button class="btn btn-dark" type="submit">Cerrar sesión</button>
			</form>
		</div>
	</main>

	<footer th:replace="fragments/footer :: footer"> </footer>
	<th:block th:replace="fragments/footer :: baseScripts" />
</body>
</html>