<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/header :: head(~{::link})">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/carousel.css}">
</head>
<body class="container-fluid px-0 d-flex flex-column min-vh-100">
	<header th:replace="fragments/header :: header"> </header>
	<main class="px-3">

		<div class="d-flex justify-content-center">
			<h1>Registrarse</h1>
		</div>
		<div class="d-flex justify-content-center">
			<form id="formRegistro" th:action="@{/registro}" th:object="${usuario}" method="post"
				class="mb-5">
				<div class="my-2">
					<label for="loginNombreUsuario" class="form-label">Nombre de usuario</label>
					<div class="col-auto">
						<input id="loginNombreUsuario" type="text" th:field="*{nombreUsuario}"
							class="form-control" minlength="3" maxlength="50" required="required" />
					</div>
					<div class="form-text">Mínimo 3 caracteres.</div>
					<p th:each="error: ${#fields.errors('nombreUsuario')}"
						th:text="${error}" class="text-danger"></p>
				</div>
				<div class="my-2">
					<div class="col-auto">
						<label for="inputPassword1" class="form-label">Contraseña</label>
						<div class="col-auto">
							<input id="inputPassword1" type="password" th:field="*{password}"
								class="form-control" minlength="5" maxlength="512" required="required" />
						</div>
					</div>
					<div class="form-text">Mínimo 5 caracteres.</div>
					<p th:each="error : ${#fields.errors('password')}"
						th:text="${error}" class="text-danger"></p>
				</div>
				<div class="my-2">
					<label for="inputPassword2" class="form-label">Repetir contraseña</label>
					<div class="col-auto">
						<input id="inputPassword2" type="password" name="password2" class="form-control"
							maxlength="512" required="required"/>
					</div>
				</div>
				<div th:if="${userAlreadyExists ne null}" class="alert alert-danger"
					th:text="${userAlreadyExists}"></div>
				<button id="buttonSubmitRegistro" class="btn btn-dark" type="submit">Registrarse</button>
			</form>
		</div>
	</main>

	<footer th:replace="fragments/footer :: footer"> </footer>
	<th:block th:replace="fragments/footer :: baseScripts" />
	<script th:src="@{/resources/js/registro.js}"></script>
</body>
</html>