<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(links)">
<title>webiblio - Web de catalogación y biblioteca de literatura</title>
<meta charset="UTF-8">
<meta name="author" content="Ignacio Torre Suárez" />
<meta name="description"
	content="Web de catalogación y biblioteca de literatura" />
<meta name="referrer" content="no-referrer" />
<link rel="stylesheet"
	th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
<th:block th:replace="${links}" />
</head>

<body>
	<!-- Barra de navegación -->
	<header class="mx-0 px-0 mb-5" th:fragment="header">
		<nav class=" navbar navbar-expand-lg navbar-light bg-light">
			<!-- Logo y nombre-->
			<a class="navbar-brand" th:href="@{/}"> <img
				th:src="@{/resources/img/logo.svg}" alt="Logo webiblio" width="40"
				height="40" /> Webiblio
			</a>

			<!-- Toggler -->
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#contenidoNavbar"
				aria-controls="contenidoNavbar" aria-expanded="false"
				aria-label="Mostrar navegación">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Contenido de la barra de navegación -->
			<div class="collapse navbar-collapse" id="contenidoNavbar">
				<ul class="navbar-nav me-auto">
					<li class="nav-item"><a class="nav-link active" th:href="@{/}">Inicio</a></li>

					<li class="nav-item"><a class="nav-link active"
						th:href="@{/libros}">Ver libros</a></li>
					
					<li class="nav-item"><a class="nav-link active"
						th:href="@{/usuarios}">Listado de usuarios públicos</a></li>

					<li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link active"
						th:href="@{/subida}">Subir libro</a></li>

					<li sec:authorize="isAuthenticated()" class="nav-item"><a
						class="nav-link active"
						th:href="@{/perfil/{nombre}(nombre=${T(org.ignaciots.webiblio.util.AuthUtil).getIdUsuarioActual()})}">Mi
							perfil</a></li>

					<li sec:authorize="hasAnyAuthority('MODERADOR', 'ADMINISTRADOR')"
						class="nav-item">
						<div class="dropdown">
							<a class="dropdown-toggle nav-link active" type="button"
								id="drowndownPanelAdmin" data-bs-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">Panel de administrador</a>
							<div class="dropdown-menu" aria-labelledby="drowndownPanelAdmin">
								<a class="dropdown-item" th:href="@{/admin/usuarios}" sec:authorize="hasAnyAuthority('MODERADOR', 'ADMINISTRADOR')">Administrar usuarios</a> <a
									class="dropdown-item" th:href="@{/admin/libros}" sec:authorize="hasAuthority('ADMINISTRADOR')">Administrar libros</a> <a
									class="dropdown-item" th:href="@{/admin/subidas}" sec:authorize="hasAnyAuthority('MODERADOR', 'ADMINISTRADOR')">Libros pendientes</a>
							</div>
						</div>
					</li>
				</ul>
				<ul class="navbar-nav d-flex me-2">
					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link active" th:href="@{/login}">Iniciar sesión</a></li>

					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link active" th:href="@{/registro}">Registrarse</a></li>

					<li sec:authorize="isAuthenticated()" class="nav-item"><a
						class="nav-link active" th:href="@{/logout}">Cerrar sesión</a></li>
				</ul>
			</div>
		</nav>
	</header>
</body>
</html>