<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/header :: head(~{::link})">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/detalles.css}">
</head>
<body class="container-fluid px-0 d-flex flex-column min-vh-100">
	<header th:replace="fragments/header :: header"> </header>
	<main class="px-3">

		<div class="row">
			<!-- Datos del libro -->
			<div class="col-md-9">
				<div class="row">
					<!-- Portada -->
					<div class="col-sm-3">
						<div class="text-center">
							<img class="img-fluid img-main" th:src="${libro.pathImagen}"
							th:alt="${libro.titulo}" />
						</div>

						<div class="mt-3 text-center">
							<form sec:authorize="isAuthenticated()"
								th:if="${favorito eq false}"
								th:action="@{/ratings/fav/{id}(id=${libro.id})}" method="post"
								class="d-inline">
								<input type="submit" class="btn btn-sm btn-warning"
									value="Añadir a favoritos" />
							</form>
							<form sec:authorize="isAuthenticated()"
								th:if="${favorito eq true}"
								th:action="@{/ratings/fav/{id}(id=${libro.id})}" method="post"
								class="d-inline">
								<input type="submit" class="btn btn-sm btn-danger"
									value="Quitar de favoritos" />
							</form>
							<a th:href="@{${libro.pathLibro}}"
								class="btn btn-sm btn-secondary">Descargar libro</a>
						</div>

						<!-- Formulario de puntuación -->
						<div sec:authorize="isAuthenticated()">
							<div class="mt-3">
							<label for="selectPuntuacion" class="form-label">Puntuación</label>
								<div class="row align-items-center">
								
									<div class="col-auto">
										<select id="selectPuntuacion" name="puntuacion"
											class="form-select">
											<option th:each="puntuacion : ${puntuaciones}"
												th:text="${puntuacion}" th:value="${puntuacion.name()}"
												th:selected="${puntuacion.ordinal() eq puntuacionUsuario.ordinal()}"></option>
										</select>
									</div>
									<div class="col-auto">
										<button id="btnPuntuacion" class="btn-sm form-control"
											th:attr="data-id-libro=${libro.id}">Actualizar</button>
									</div>
									<div id="puntuacionSuccess" class="alert alert-success mt-2"
										hidden="hidden">Puntuación guardada correctamente.</div>
									<div id="puntuacionError" class="alert alert-danger mt-2"
										hidden="hidden">Error al guardar la puntuación.</div>
								</div>

							</div>

							<!-- Formulario de estado -->
							<div class="mt-3">
								<label for="selectPuntuacion" class="form-label">Estado</label>
								<div class="row align-items-center">
									<div class="col-auto">
										<select id="selectEstadoLibro" name="estadoLectura"
											class="form-select">
											<option th:each="estado : ${estadosLibro}"
												th:text="${estado}" th:value="${estado.name()}"
												th:selected="${estado.name() eq estadoLecturaUsuario.name()}"></option>
										</select>
									</div>
									<div class="col-auto">
										<button id="btnEstado" class="btn-sm form-control"
											th:attr="data-id-libro=${libro.id}">Actualizar</button>
									</div>
									<div id="estadoSuccess" class="alert alert-success mt-2"
										hidden="hidden">Estado guardado correctamente.</div>
									<div id="estadoError" class="alert alert-danger mt-2"
										hidden="hidden">Error al guardar el estado.</div>
								</div>
							</div>

							<div class="my-3" th:if="${listasUsuario.size() gt 0}">
							<label for="selectPuntuacion" class="form-label">Añadir libro a lista</label>
								<div class="row align-items-center text-center">
									<div class="col-md-6">
										<select id="selectIdLista" name="idLista" class="form-select">
											<option th:each="lista : ${listasUsuario}"
												th:text="${lista.nombre}" th:value="${lista.id}"></option>
										</select>

									</div>
									<div class="col-auto">
										<button id="btnAddLista" class="btn-sm form-control"
											th:attr="data-id-libro=${libro.id}">Añadir</button>
									</div>
									<div id="addListaSuccess" class="alert alert-success mt-2"
										hidden="hidden">Libro añadido correctamente.</div>
									<div id="addListaFail" class="alert alert-warning mt-2"
										hidden="hidden">Error: la lista ya contiene ese libro.</div>
									<div id="addListaError" class="alert alert-danger mt-2"
										hidden="hidden">Error al añadir la lista.</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Información -->
					<div class="col-sm-9">
						<h2 class="mb-0" th:text="${libro.titulo}"></h2>
						<p>
							<strong><i th:text="@{'de ' + ${libro.autores}}"></i></strong>
						</p>
						<p class="justificado" th:text="${libro.sinopsis}"></p>
						<span class="badge bg-secondary"
							th:text="@{${libro.numeroPaginas} + ' páginas'}"></span> <span
							class="badge bg-info"
							th:text="@{'Fecha de publicación: ' + ${libro.anyoPublicacion}}"></span>
					</div>
				</div>
			</div>

			<!-- Categorías -->
			<div class="col-md-3 my-5 text-center">
				<h3>Categorías</h3>
				<div class="btn-group-vertical" role="group"
					aria-label="Categorías del libro">
					<th:block th:each="categoria : ${libro.categorias}">
						<a
							th:href="@{/libros?categoria={categoria}(categoria=${categoria.nombre})}"
							class="btn btn-outline-light text-dark text-left"
							th:text="${categoria.nombre}"></a>
					</th:block>
				</div>
			</div>
		</div>

	</main>
	<footer th:replace="fragments/footer :: footer"> </footer>
	<th:block th:replace="fragments/footer :: baseScripts" />
	<script th:src="@{/resources/js/async_utils.js}"></script>
	<script th:src="@{/resources/js/detalles.js}"></script>
</body>
</html>