<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: head(~{::link})">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/carousel.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/listado.css}">
</head>
<body class="container-fluid px-0 d-flex flex-column min-vh-100">
	<header th:replace="fragments/header :: header"> </header>
	<main class="px-3">

		<!--  Búsqueda simple -->
		<div class="container">
			<form method="get" th:action="@{/libros}"
				th:object="${busquedaLibroForm}" class="d-flex mb-2">
				<input class="form-control me-2" name="titulo" type="search"
					placeholder="Buscar libros por título..."
					aria-label="Buscar libros por título" th:field="*{titulo}"
					maxlength="255">
				<button class="btn btn-outline-success" type="submit">Buscar</button>
			</form>
			<button id="btnBusquedaAvanzada" class="btn btn-sm btn-secondary mb-3" onclick="toggleBusquedaAvanzada();">Búsqueda avanzada</button>
		</div>

		<!-- Búsqueda avanzada -->
		<div class="container" id="divBusquedaAvanzada" hidden="hidden">
			<form method="get" th:action="@{/libros}"
				th:object="${busquedaLibroForm}">
				<div class="row align-items-center mb-2">
					<div class="col-auto">
						<label for="inputBusquedaAvanzadaTitulo" class="form-label">Título</label>
						<input id="inputBusquedaAvanzadaTitulo" class="form-control me-2"
							name="titulo" type="search" placeholder="Título..."
							aria-label="Buscar libros" th:field="*{titulo}" maxlength="255">
					</div>
				</div>
				<div class="row align-items-center mb-2">
					<div class="col-auto">
						<label for="inputBusquedaAvanzadaAutores" class="form-label">Autores</label>
						<input id="inputBusquedaAvanzadaAutores" class="form-control me-2"
							name="autores" type="search" placeholder="Autores..."
							aria-label="Buscar por autores" th:field="*{autores}"
							maxlength="255">
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-auto mb-2">
						<label for="inputBusquedaAvanzadaCategoria" class="form-label">Categoría</label>
						<select id="inputBusquedaAvanzadaCategoria" name="categoria"
							class="form-select">
							<option value="">Cualquiera</option>
							<option th:each="categoriaLibro : ${categorias}"
								th:value="${categoriaLibro.nombre}"
								th:text="${categoriaLibro.nombre}"></option>
						</select>
					</div>
				</div>
				<button class="btn btn-sm btn-outline-success mt-3" type="submit">Búsqueda
					avanzada</button>
			</form>
		</div>

		<th:block
			th:if="${libros ne null and libros.getContent().size() gt 0}">
			<!--  Listado de libros -->
			<div class="row mt-5">
				<div class="grid-container">
					<div class="card mx-auto mb-5 border-0 border-bottom"
						th:each="libro : ${libros.getContent()}">
						<div class="text-center portada-libro">
							<a th:href="@{/libros/{id}(id=${libro.id})}"><img
								class="card-img-top" th:src="@{${libro.pathImagen}}"
								th:alt="${libro.titulo}"></a>
						</div>
						<div class="card-body pb-0">
							<h5 class="card-title" th:text="${libro.titulo}"></h5>
							<div class="card-text">
								<ul class="mb-0">
									<li><strong>Autor</strong>: <span
										th:text="${libro.autores}"></span></li>
									<li><strong>Año de publicación</strong>: <span
										th:text="${libro.anyoPublicacion}"></span></li>
								</ul>
							</div>
						</div>
						<div class="card-footer text-center border-0 bg-white">
							<a th:href="@{/libros/{id}(id=${libro.id})}"
								class="btn btn-sm btn-info text-white d-block d-md-inline">Más
								información</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Paginación -->
			<nav aria-label="Paginación" class="paging">
				<ul class="pagination" th:if="${libros.getTotalPages() > 1}">
					<li class="page-item"
						th:classappend="${libros.isFirst() ? 'disabled' : ''}"><a
						class="page-link"
						th:href="@{'?page=' + ${libros.getNumber() - 1} + ${ultimaBusqueda}}"
						tabindex="-1">Anterior</a></li>
					<th:block
						th:each="iter : ${#numbers.sequence(1, libros.getTotalPages())}">
						<li class="page-item"
							th:classappend="${iter -1 == libros.getNumber() ? 'active' : ''}">
							<a class="page-link"
							th:href="@{'?page=' + ${iter - 1} + ${ultimaBusqueda}}"
							th:text="${iter}"></a>
						</li>
					</th:block>
					<li class="page-item"
						th:classappend="${libros.isLast()? 'disabled' : ''}"><a
						class="page-link"
						th:href="@{'?page=' + ${libros.getNumber() + 1 } + ${ultimaBusqueda}}">Siguiente</a>
					</li>
				</ul>
			</nav>
		</th:block>

		<th:block
			th:if="${!ultimaBusqueda.isBlank() and (libros eq null or libros.getContent().size() eq 0)}">
			<div class="row mt-5">
				<p class="col text-center">No existen resultados para esta búsqueda.</p>
			</div>
		</th:block>
	</main>

	<footer th:replace="fragments/footer :: footer"> </footer>
	<th:block th:replace="fragments/footer :: baseScripts" />
	<script th:src="@{/resources/js/listado.js}"></script>
</body>
</html>