<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: head(~{::link})">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/carousel.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/listado.css}">
</head>
<body class="container-fluid px-0 d-flex flex-column min-vh-100">
	<header th:replace="fragments/header :: header"> </header>
	<main class="px-3">

		<!-- Formulario de subida de libro-->
		<div class="d-flex justify-content-center">
			<h2>Subida de libro</h2>
		</div>
		<div class="row justify-content-center mb-2">
			<form method="post" th:action="@{/subida}"
				th:object="${subirLibroForm}" enctype="multipart/form-data" class="col-5">
				<div class="my-2">
					<label for="inputTitulo" class="form-label">Título</label>
					<div class="my-2">
						<div class="col-auto">
							<input id="inputTitulo" class="form-control me-2" name="titulo"
								type="text" placeholder="Título..."
								aria-label="Título del libro" th:field="*{titulo}"
								maxlength="255" required="required"> <span
								th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"
								class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="my-2">
					<label for="inputAutores" class="form-label">Autores</label>
					<div class="my-2">
						<div class="col-auto">
							<input id="inputAutores" class="form-control me-2" name="autores"
								type="text" placeholder="Autores..."
								aria-label="Autores del libro" th:field="*{autores}"
								maxlength="255" required="required"> <span
								th:if="${#fields.hasErrors('autores')}" th:errors="*{autores}"
								class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="my-2">
					<label for="selectCategoria" class="form-label">Categoría</label>
					<div class="my-2">
						<div class="col-auto">
							<select id="selectCategoria" name="categoria" class="form-select">
								<option th:each="categoriaLibro : ${categorias}"
									th:value="${categoriaLibro.nombre}"
									th:text="${categoriaLibro.nombre}"></option>
							</select> <span th:if="${#fields.hasErrors('categoria')}"
								th:errors="*{categoria}" class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="my-2">
					<label for="textareaSinopsis" class="form-label">Sinopsis</label>
					<div class="my-2">
						<div class="col-auto">
							<textarea id="textareaSinopsis" class="form-control me-2"
								name="sinopsis" placeholder="Sinopsis..."
								aria-label="Sinopsis del libro" th:field="*{sinopsis}"
								maxlength="1000" required="required"></textarea>
							<span th:if="${#fields.hasErrors('sinopsis')}"
								th:errors="*{sinopsis}" class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="my-2">
					<label for="inputAnyoPublicacion" class="form-label">Año de publicación</label>
					<div class="my-2">
						<div class="col-auto">
							<input id="inputAnyoPublicacion" class="form-control me-2"
								name="anyoPublicacion" type="number"
								placeholder="Año de publicación"
								aria-label="Año de publicación del libro"
								th:field="*{anyoPublicacion}" min="0" max="10000"
								required="required"> <span
								th:if="${#fields.hasErrors('anyoPublicacion')}"
								th:errors="*{anyoPublicacion}" class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="my-2">
					<label for="inputNumeroPaginas" class="form-label">Número de páginas</label>
					<div class="my-2">
						<div class="col-auto">
							<input id="inputNumeroPaginas" class="form-control me-2"
								name="numeroPaginas" type="number"
								placeholder="Número de páginas"
								aria-label="Número de páginas del libro"
								th:field="*{numeroPaginas}" min="1" max="10000"
								required="required"> <span
								th:if="${#fields.hasErrors('numeroPaginas')}"
								th:errors="*{numeroPaginas}" class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="my-2">
					<label for="inputFilePortada" class="form-label">Portada</label>
					<div class="my-2">
						<div class="col-auto">
							<input id="inputFilePortada" class="form-control me-2"
								name="portada" type="file" placeholder="Portada"
								aria-label="Portada del libro" th:field="*{portada}"
								required="required" accept="image/gif, image/jpeg, image/png">
							<div class="form-text">Tamaño máximo: 20 MiB</div>
							<div class="form-text">Tipos de archivo válidos: jpg, jpeg, png, gif.</div>
							<span th:if="${#fields.hasErrors('portada')}"
								th:errors="*{portada}" class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="mt-2 mb-4">
					<label for="inputFileLibro" class="form-label">Libro</label>
					<div class="my-2">
						<div class="col-auto">
							<input id="inputFileLibro" class="form-control me-2" name="libro"
								type="file" placeholder="Libro" aria-label="Archivo del libro"
								th:field="*{libro}" required="required"
								accept="application/epub+zip, application/pdf, text/plain, text/html">
							<div class="form-text">Tamaño máximo: 20 MiB</div>
							<div class="form-text">Tipos de archivo válidos: epub, pdf, txt, html.</div>
							<span th:if="${#fields.hasErrors('libro')}" th:errors="*{libro}"
								class="text-danger"></span>
						</div>
					</div>
				</div>

				<div class="text-center mb-3">
					<button class="btn btn-success" type="submit">Subir libro</button>
				</div>
				<div class="alert alert-info text-center" th:if="${param.poraprobar}">Libro
				subido con éxito. El libro será revisado por los moderadores antes de ser publicado.</div>
				<div class="alert alert-success text-center" th:if="${param.aprobado}">Libro
				subido con éxito.</div>
			</form>

		</div>
	</main>

	<footer th:replace="fragments/footer :: footer"> </footer>
	<th:block th:replace="fragments/footer :: baseScripts" />
</body>
</html>
