<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/header :: head(~{::link})">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/carousel.css}">
</head>
<body class="container-fluid px-0 d-flex flex-column min-vh-100">
	<header th:replace="fragments/header :: header"> </header>
	<main class="px-3">
		<h1 class="text-center h2 mb-4">La petición no se ha podido
			completar con éxito</h1>
		<div class="d-flex justify-content-center fs-5">
			<div th:text="${statusCode}"></div>
			<div class="px-1">|</div>
			<div th:text="${reason}"></div>
		</div>
	</main>
	<footer th:replace="fragments/footer :: footer"> </footer>
	<th:block th:replace="fragments/footer :: baseScripts" />
</body>
</html>
