<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/header :: head(~{::link})">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/carousel.css}">
</head>
<body class="container-fluid px-0 d-flex flex-column min-vh-100">
	<header th:replace="fragments/header :: header"> </header>
	<main class="px-3">
		<!-- Bienvenida -->
		<div sec:authorize="isAuthenticated()" class="mb-3">
			<div class="alert alert-dark d-inline">
				Bienvenido, <span class="fw-bold fst-normal fs-5" sec:authentication="name">usuario</span>
			</div>
		</div>
		
		<!-- Carousel -->
		<div id="carouselLibros" class="carousel slide mx-auto"
			data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselLibros"
					data-bs-slide-to="0" aria-label="Diapositiva novelas"
					class="active"></button>
				<button type="button" data-bs-target="#carouselLibros"
					data-bs-slide-to="1" aria-label="Diapositiva manga"></button>
				<button type="button" data-bs-target="#carouselLibros"
					data-bs-slide-to="2" aria-label="Diapositiva ensayo"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100"
						th:src="@{/resources/img/inicio/pexels-pixabay-159866.jpg}" alt="Novelas clásicas">
					<div class="carousel-caption d-none d-md-block bg-dark">
						<h3>Novelas clásicas</h3>
						<p>Novelas clásicas de todos los géneros y
							tipos.</p>
					</div>
				</div>
				<div class="carousel-item">
					<img class="d-block w-100"
						th:src="@{/resources/img/inicio/pexels-ricardo-esquivel-1907785.jpg}"
						alt="Novelas históricas">
					<div class="carousel-caption d-none d-md-block bg-dark">
						<h3>Novelas históricas</h3>
						<p>Novelas históricas para todo tipo de edades.</p>
					</div>
				</div>
				<div class="carousel-item">
					<img class="d-block w-100"
						th:src="@{/resources/img/inicio/pexels-jess-bailey-designs-762687.jpg}"
						alt="Novelas extranjeras">
					<div class="carousel-caption d-none d-md-block bg-dark">
						<h3>Novelas en idiomas extranjeros</h3>
						<p>Novelas en inglés de los autores con más renombre.</p>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselLibros" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Anterior</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselLibros" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Siguiente</span>
			</button>
		</div>

		<!-- Libros populares -->
		<div
			th:if="${librosPopulares1 ne null and librosPopulares1.size() gt 0}"
			class="row my-5">
			<h2 class="text-center mb-3">Más populares</h2>
			<div id="carouselLibrosPopulares"
				class="carousel carousel-libros carousel-dark slide mx-auto"
				data-bs-ride="carousel" data-bs-interval="false">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselLibrosPopulares"
						data-bs-slide-to="0" aria-label="Libros populares 1"
						class="active"></button>
					<button type="button" data-bs-target="#carouselLibrosPopulares"
						data-bs-slide-to="1" aria-label="Libros populares 2"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="row">
							<div class="col" th:each="libro: ${librosPopulares1}">
								<a th:href="@{/libros/{id}(id=${libro.id})}"><img
									class="d-block w-100 img-libros"
									th:src="@{${libro.pathImagen}}" th:alt="${libro.titulo}"></a>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row">
							<div class="col" th:each="libro: ${librosPopulares2}">
								<a th:href="@{/libros/{id}(id=${libro.id})}"><img
									class="d-block w-100 img-libros" th:src="${libro.pathImagen}"
									th:alt="${libro.titulo}"></a>
							</div>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button"
					data-bs-target="#carouselLibrosPopulares" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Anterior</span>
				</button>
				<button class="carousel-control-next" type="button"
					data-bs-target="#carouselLibrosPopulares" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Siguiente</span>
				</button>
			</div>

		</div>
	</main>
	<footer th:replace="fragments/footer :: footer"> </footer>
	<th:block th:replace="fragments/footer :: baseScripts" />
</body>
</html>
