<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: head(~{::link})">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/carousel.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/listado.css}">
</head>
<body class="container-fluid px-0 d-flex flex-column min-vh-100">
	<header th:replace="fragments/header :: header"> </header>
	<main class="px-3">

		<h1 class="text-center h3">
			Libros favoritos de <span th:text="${nombreUsuario}" class="fw-bold"></span>
		</h1>
		<th:block th:unless="${privado ne null and privado eq true}">
			<th:block
				th:if="${libros ne null and libros.getContent().size() gt 0}">
				<!--  Listado de libros -->
				<div class="row mt-5">
					<div class="grid-container">
						<div class="card mx-auto mb-5 border-0 border-bottom"
							th:each="libro : ${libros.getContent()}">
							<div class="text-center portada-libro">
								<a th:href="@{/libros/{id}(id=${libro.id})}"><img
									class="card-img-top" th:src="@{${libro.pathImagen}}"
									th:alt="${libro.titulo}"></a>
							</div>
							<div class="card-body pb-0">
								<h5 class="card-title" th:text="${libro.titulo}"></h5>
								<div class="card-text">
									<ul class="mb-0">
										<li><strong>Autor</strong>: <span
											th:text="${libro.autores}"></span></li>
										<li><strong>Año de publicación</strong>: <span
											th:text="${libro.anyoPublicacion}"></span></li>
									</ul>
								</div>
							</div>
							<div class="card-footer text-center border-0 bg-white">
								<a th:href="@{/libros/{id}(id=${libro.id})}"
									class="btn btn-sm btn-info text-white d-block d-md-inline">Más
									información</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Paginación -->
				<nav aria-label="Paginación" class="paging">
					<ul class="pagination" th:if="${libros.getTotalPages() > 1}">
						<li class="page-item"
							th:classappend="${libros.isFirst() ? 'disabled' : ''}"><a
							class="page-link"
							th:href="@{'?page=' + ${libros.getNumber() - 1} + ${ultimaBusqueda}}"
							tabindex="-1">Anterior</a></li>
						<th:block
							th:each="iter : ${#numbers.sequence(1, libros.getTotalPages())}">
							<li class="page-item"
								th:classappend="${iter -1 == libros.getNumber() ? 'active' : ''}">
								<a class="page-link"
								th:href="@{'?page=' + ${iter - 1} + ${ultimaBusqueda}}"
								th:text="${iter}"></a>
							</li>
						</th:block>
						<li class="page-item"
							th:classappend="${libros.isLast()? 'disabled' : ''}"><a
							class="page-link"
							th:href="@{'?page=' + ${libros.getNumber() + 1 } + ${ultimaBusqueda}}">Siguiente</a>
						</li>
					</ul>
				</nav>
			</th:block>
			<div
				th:unless="${libros ne null and libros.getContent().size() gt 0}" class="text-center">
				<p>Este usuario no tiene ningún libro favorito.</p>
			</div>

			<div th:if="${privado ne null and privado eq true}">Este perfil
				es privado.</div>
	</main>

	<footer th:replace="fragments/footer :: footer"> </footer>
	<th:block th:replace="fragments/footer :: baseScripts" />
	<script th:src="@{/resources/js/listado.js}"></script>
</body>
</html>