<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: head(~{::link})">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/carousel.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/listado.css}">
</head>
<body class="container-fluid px-0 d-flex flex-column min-vh-100">
	<header th:replace="fragments/header :: header"> </header>
	<main class="px-3">

		<!--  Búsqueda simple -->
		<div class="container pb-4">
			<form method="get" th:action="@{/usuarios}"  class="d-flex mb-2">
				<input class="form-control me-2" name="nombre" type="search"
					placeholder="Buscar usuarios por nombre..."
					aria-label="Buscar usuarios por nombre"
					maxlength="50">
				<button class="btn btn-outline-success" type="submit">Buscar</button>
			</form>
		</div>

		<div class="container"
			th:if="${usuarios ne null and usuarios.getContent().size() gt 0}">
			<!--  Listado de usuarios -->
			<div class="table-responsive">
				<table class="table table-striped text-center">
					<thead>
						<tr>
							<th>Nombre de usuario</th>
							<th>Perfil</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="usuario : ${usuarios.getContent()}"
						th:object="${usuario}">
							<td th:text="*{nombreUsuario}" class="fw-bold "></td>
							<td><a th:href="@{/perfil/{id}(id=*{id})}">Perfil
									de usuario</a></td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- Paginación -->
			<nav aria-label="Paginación" class="paging">
				<ul class="pagination" th:if="${usuarios.getTotalPages() > 1}">
					<li class="page-item"
						th:classappend="${usuarios.isFirst() ? 'disabled' : ''}"><a
						class="page-link"
						th:href="@{'?page=' + ${usuarios.getNumber() - 1} + ${ultimaBusqueda}}"
						tabindex="-1">Anterior</a></li>
					<th:block
						th:each="iter : ${#numbers.sequence(1, usuarios.getTotalPages())}">
						<li class="page-item"
							th:classappend="${iter -1 == usuarios.getNumber() ? 'active' : ''}">
							<a class="page-link"
							th:href="@{'?page=' + ${iter - 1} + ${ultimaBusqueda}}"
							th:text="${iter}"></a>
						</li>
					</th:block>
					<li class="page-item"
						th:classappend="${usuarios.isLast()? 'disabled' : ''}"><a
						class="page-link"
						th:href="@{'?page=' + ${usuarios.getNumber() + 1 } + ${ultimaBusqueda}}">Siguiente</a>
					</li>
				</ul>
			</nav>
		</div>


		<th:block
			th:if="${usuarios eq null or usuarios.getContent().size() eq 0}">
			<div th:if="${!ultimaBusqueda.isBlank()}" class="row mt-5">
				<p class="col text-center">No existen resultados para esta
					búsqueda.</p>
			</div>
			<div th:if="${ultimaBusqueda.isBlank()}" class="row mt-5">
				<p class="col text-center">No hay usuarios con el perfil público.</p>
			</div>
		</th:block>
	</main>

	<footer th:replace="fragments/footer :: footer"> </footer>
	<th:block th:replace="fragments/footer :: baseScripts" />
</body>
</html>