<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: head(~{::link})">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/detalles.css}">
</head>
<body class="container-fluid px-0 d-flex flex-column min-vh-100">
	<header th:replace="fragments/header :: header"> </header>
	<main class="px-3">
		<div class="row">
			<p th:if="${privado ne null or privado eq true}" class="text-center fs-3">Este perfil
				es privado.
			</p>
			
			<!-- Nombre de perfil -->
			<div class="col-md-3 mb-5" th:unless="${privado ne null and privado eq true}">
				<h1 class="text-center h3">
					Perfil de <span th:text="${nombre}" class="fw-bold"></span>
				</h1>
				<div class="my-2" th:if="${mismoUsuario ne null or mismoUsuario eq true}">
					<h2 class="h5">Configuración</h2>
						<label for="selectNivelPrivacidad" class="form-label">Nivel de privacidad del perfil</label>
						<select id="selectNivelPrivacidad" name="nivelPrivacidad">
							<option th:each="nivelPrivacidad : ${nivelesPrivacidad}" 
								th:value="${nivelPrivacidad.name()}" th:text="${nivelPrivacidad}" th:selected="${nivelPrivacidad.ordinal() eq nivelPrivacidadActual.ordinal()}"></option>
						</select>
						<button id="btnNivelPrivacidad" class="btn btn-sm btn-secondary" th:attr="data-id-usuario=${id}">Guardar</button>
						<div id="nivelPrivacidadSuccess" class="alert alert-success" hidden="hidden">Nivel de privacidad guardado.</div>
						<div id="nivelPrivacidadError" class="alert alert-danger" hidden="hidden">Error al guardar el nivel de privacidad.</div>
				</div>

				<div class="my-3" th:if="${mismoUsuario ne null or mismoUsuario eq true}">
					<h2 class="h5">Crear listas</h2>
					<form id="formCrearLista" th:action="@{/perfil/{id}/lista(id=${id})}"
						method="post">
						<div class="mb-2">
							<label for="inputNombreLista" class="form-label">Nombre de la nueva lista</label>
							<input id="inputNombreLista" type="text" name="nombreLista" required="required" maxlength="255" class="form-control mb-3"/>
							<input id="btnCrearLista" class="btn btn-sm btn-secondary" type="submit" value="Guardar"/>
						</div>
					</form>
					<div class="alert alert-success" th:if="${param.success}">Lista creada con éxito.</div>
				</div>
				<div class="my-3 text-center">
					<a th:href="@{/perfil/{id}/favoritos(id=${id})}" class="btn btn-sm btn-warning">Lista de favoritos</span></a>
				</div>
			</div>

			<!-- Mis listas -->
			<div class="col-md-9 text-center" th:unless="${privado ne null or privado eq true}">
				<h2 class="mb-5">Listas</h2>
				<div class="alert alert-success" th:if="${param.listaEliminada}">Lista eliminada con éxito.</div>
				<p th:unless="${listas ne null and listas.getContent().size() gt 0}">El usuario no tiene ninguna lista.</p>
				<div class="table-responsive">
					<table class="table table-striped text-center" th:if="${listas ne null and listas.getContent().size() gt 0}">
						<thead>
							<tr>
								<th>Nombre</th>
								<th th:if="${mismoUsuario ne null or mismoUsuario eq true}">Eliminar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="lista: ${listas.getContent()}">
								<td><a th:href="@{/listas/{id}(id=${lista.id})}" th:text="${lista.nombre}"></a></td>
								<td th:if="${mismoUsuario ne null or mismoUsuario eq true}">
									<form  th:action="@{/listas/eliminar/{id}(id=${lista.id})}" method="post">
										<input type="submit" class="btn btn-sm btn-danger" value="Eliminar"/>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- Paginación -->
				<nav aria-label="Paginación" class="paging" th:if="${listas ne null and listas.getContent().size() gt 0}">
					<ul class="pagination" th:if="${listas.getTotalPages() > 1}">
						<li class="page-item"
							th:classappend="${listas.isFirst() ? 'disabled' : ''}"><a
							class="page-link"
							th:href="@{'?page=' + ${listas.getNumber() - 1}}"
							tabindex="-1">Anterior</a></li>
						<th:block
							th:each="iter : ${#numbers.sequence(1, listas.getTotalPages())}">
							<li class="page-item"
								th:classappend="${iter -1 == listas.getNumber() ? 'active' : ''}">
								<a class="page-link"
								th:href="@{'?page=' + ${iter - 1}}"
								th:text="${iter}"></a>
							</li>
						</th:block>
						<li class="page-item"
							th:classappend="${listas.isLast()? 'disabled' : ''}"><a
							class="page-link"
							th:href="@{'?page=' + ${listas.getNumber() + 1 }}">Siguiente</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

	</main>
	<footer th:replace="fragments/footer :: footer"> </footer>
	<th:block th:replace="fragments/footer :: baseScripts"/>
	<script th:src="@{/resources/js/async_utils.js}"></script>
	<script th:src="@{/resources/js/perfil.js}"></script>
</body>
</html>
