<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/header :: head(~{::link})">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/detalles.css}">
</head>
<body class="container-fluid px-0 d-flex flex-column min-vh-100">
	<header th:replace="fragments/header :: header"> </header>
	<main class="px-3">

		<!-- Lista de libros -->
		<div class="container text-center">
			<div class="row">
				<h1 class="h2 mb-4">Libros pendientes de aprobar</h1>
				<p th:unless="${libros ne null and libros.getContent().size() gt 0}">No hay libros pendientes de aprobar.</p>
				<div class="alert alert-success" th:if="${param.aprobar}">Libro aprobado correctamente</div>
				<div class="alert alert-success" th:if="${param.denegar}">Libro denegado correctamente</div>
				<div class="table-responsive">
					<table th:if="${libros ne null and libros.getContent().size() gt 0}" class="table table-striped">
						<thead>
							<tr>
								<th>ID</th>
								<th>Título</th>
								<th>Autores</th>
								<th>Sinopsis</th>
								<th>Año de publicación</th>
								<th>Número de páginas</th>
								<th sec:authorize="hasAnyAuthority('MODERADOR', 'ADMINISTRADOR')">Acción</th>
							</tr>
						</thead>
	
						<tbody>
							<tr th:each="libro : ${libros.getContent()}" th:object="${libro}">
								<td th:text="*{id}"></td>
								<td th:text="*{titulo}"></td>
								<td th:text="*{autores}"></td>
								<td th:text="*{sinopsis}"></td>
								<td th:text="*{anyoPublicacion}"></td>
								<td th:text="*{numeroPaginas}"></td>
								<td sec:authorize="hasAnyAuthority('MODERADOR', 'ADMINISTRADOR')">
									<form th:action="@{/admin/subidas/aprobar/{id}(id=*{id})}" method="post">
										<input type="submit" value="Aprobar" class="btn btn-sm btn-success mb-1"/>
									</form>
									<form th:action="@{/admin/subidas/denegar/{id}(id=*{id})}"  method="post">
										<input type="submit" value="Denegar" class="btn btn-sm btn-warning"/>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<!-- Paginación -->
				<nav aria-label="Paginación" class="paging" th:if="${libros ne null and libros.getContent().size() gt 0}">
					<ul class="pagination" th:if="${libros.getTotalPages() > 1}">
						<li class="page-item"
							th:classappend="${libros.isFirst() ? 'disabled' : ''}"><a
							class="page-link"
							th:href="@{'?page=' + ${libros.getNumber() - 1}}"
							tabindex="-1">Anterior</a></li>
						<th:block
							th:each="iter : ${#numbers.sequence(1, libros.getTotalPages())}">
							<li class="page-item"
								th:classappend="${iter -1 == libros.getNumber() ? 'active' : ''}">
								<a class="page-link"
								th:href="@{'?page=' + ${iter - 1}}"
								th:text="${iter}"></a>
							</li>
						</th:block>
						<li class="page-item"
							th:classappend="${libros.isLast()? 'disabled' : ''}"><a
							class="page-link"
							th:href="@{'?page=' + ${libros.getNumber() + 1 }}">Siguiente</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</main>
	<footer th:replace="fragments/footer :: footer"> </footer>
	<th:block th:replace="fragments/footer :: baseScripts" />
</body>
</html>