<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments/header :: head(~{::link})">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/detalles.css}">
</head>
<body class="container-fluid px-0 d-flex flex-column min-vh-100">
	<header th:replace="fragments/header :: header"> </header>
	<main class="px-3">

		<!-- Lista de usuarios -->
		<div class=" px-5">
			<div class="row">
				<div class="col-md-3 pb-5" sec:authorize="hasAuthority('ADMINISTRADOR')">

					<h2>Creación de usuarios</h2>
					<form method="post" th:action="@{/admin/usuarios}"
						th:object="${crearUsuarioForm}">
						<div class="my-2">
							<label for="inputNombreUsuario" class="form-label">Nombre
								de usuario</label>
							<div class="row">
								<div class="col-auto">
									<input id="inputNombreUsuario" class="form-control me-2"
										name="nombreUsuario" type="text"
										placeholder="Nombre de usuario..."
										aria-label="Nombre de usuario" th:field="*{nombreUsuario}"
										minlength="3" maxlength="50" required="required" /> <span
										th:if="${#fields.hasErrors('nombreUsuario')}"
										th:errors="*{nombreUsuario}" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="my-2">
							<label for="inputPassword" class="form-label">Contraseña</label>
							<div class="row">
								<div class="col-auto">
									<input id="inputPassword" class="form-control me-2"
										name="password" type="password" placeholder="Contraseña..."
										aria-label="Contraseña" th:field="*{password}" minlength="5"
										maxlength="512" required="required" /> <span
										th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="my-2">
							<label for="inputEstadoUsuario" class="form-label">Estado</label>
							<div class="row">
								<div class="col-auto">
									<select id="inputEstadoUsuario" class="form-select me-2"
										name="estado" aria-label="Estado de usuario"
										th:field="*{estado}" required="required">
										<option th:each="estadoUsuario : ${estadosUsuario}"
											th:value="${estadoUsuario.name()}" th:text="${estadoUsuario}"></option>
									</select> <span th:if="${#fields.hasErrors('estado')}"
										th:errors="*{estado}" class="text-danger"></span>
								</div>
							</div>
						</div>
						<div class="my-2">
							<label for="inputRolUsuario" class="form-label">Rol</label>
							<div class="row">
								<div class="col-auto">
									<select id="inputRolUsuario" class="form-select me-2"
										name="rol" aria-label="Rol de usuario" th:field="*{rol}"
										required="required">
										<option th:each="rolUsuario : ${rolesUsuario}"
											th:value="${rolUsuario.name()}" th:text="${rolUsuario}"></option>
									</select> <span th:if="${#fields.hasErrors('rol')}" th:errors="*{rol}"
										class="text-danger"></span>
								</div>
							</div>
						</div>
						<input type="submit" class="btn btn-dark" value="Crear usuario" />
					</form>
					<div class="alert alert-success" th:if="${param.success}">Usuario
						creado con éxito.</div>
				</div>
				<div class="col-md-9 text-center">
					<h2>Listado de usuarios</h2>
					<div class="alert alert-success" th:if="${param.usuarioEliminado}">Usuario
						eliminado con éxito.</div>
					<div class="alert alert-success" th:if="${param.estadoCambiado}">Estado
						de usuario cambiado con éxito.</div>
					<p
						th:unless="${usuarios ne null and usuarios.getContent().size() gt 0}">No
						hay usuarios.</p>
					<div class="table-responsive">
						<table
							th:if="${usuarios ne null and usuarios.getContent().size() gt 0}"
							class="table table-striped">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Contraseña</th>
									<th>Perfil</th>
									<th>Rol</th>
									<th>Estado</th>
									<th sec:authorize="hasAuthority('ADMINISTRADOR')">Eliminar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="usuario : ${usuarios.getContent()}"
									th:object="${usuario}">
									<td th:text="*{nombreUsuario}"></td>
									<td th:text="*{password}"></td>
									<td><a th:href="@{/perfil/{id}(id=*{id})}">Perfil de
											usuario</a></td>
									<td th:text="*{rol}"></td>
									<td>
										<form th:if="*{estado.name() eq 'HABILITADO'}"
											th:action="@{/admin/usuarios/cambiarestado/{id}(id=*{id})}"
											method="post">
											<input type="submit" class="btn btn-sm btn-danger"
												value="Deshabilitar" />
										</form>
										<form th:unless="*{estado.name() eq 'HABILITADO'}"
											th:action="@{/admin/usuarios/cambiarestado/{id}(id=*{id})}"
											method="post">
											<input type="submit" class="btn btn-sm btn-success"
												value="Habilitar" />
										</form>
									</td>
									<td sec:authorize="hasAuthority('ADMINISTRADOR')">
										<form th:action="@{/admin/usuarios/eliminar/{id}(id=*{id})}"
											method="post">
											<input type="submit" class="btn btn-sm btn-danger"
												value="Eliminar" />
										</form>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<!-- Paginación -->
					<nav aria-label="Paginación" class="paging"
						th:if="${usuarios ne null and usuarios.getContent().size() gt 0}">
						<ul class="pagination" th:if="${usuarios.getTotalPages() > 1}">
							<li class="page-item"
								th:classappend="${usuarios.isFirst() ? 'disabled' : ''}"><a
								class="page-link"
								th:href="@{'?page=' + ${usuarios.getNumber() - 1}}"
								tabindex="-1">Anterior</a></li>
							<th:block
								th:each="iter : ${#numbers.sequence(1, usuarios.getTotalPages())}">
								<li class="page-item"
									th:classappend="${iter -1 == usuarios.getNumber() ? 'active' : ''}">
									<a class="page-link" th:href="@{'?page=' + ${iter - 1}}"
									th:text="${iter}"></a>
								</li>
							</th:block>
							<li class="page-item"
								th:classappend="${usuarios.isLast()? 'disabled' : ''}"><a
								class="page-link"
								th:href="@{'?page=' + ${usuarios.getNumber() + 1 }}">Siguiente</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</main>
	<footer th:replace="fragments/footer :: footer"> </footer>
	<th:block th:replace="fragments/footer :: baseScripts" />
</body>
</html>