/* CSS para carousel */

.card-img-top {
	max-width: 180px;
	width: 100%;
}

.card {
	max-width: 300px;
}

.carousel {
	max-width: 800px;
}

.carousel-libros {
	max-width: 500px;
	min-height: 230px;
	max-height: 230px;
}

.img-libros {
	max-height: 230px;
}