<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: head(~{::link})">
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/detalles.css}">
</head>
<body class="container-fluid px-0 d-flex flex-column min-vh-100">
	<header th:replace="fragments/header :: header"> </header>
	<main class="px-3">

		<!-- Libros de la lista -->
		<div class="container text-center">
			<div class="row" th:if="${privado eq null}">
				<h1 th:text="${lista.nombre}" class="h2 mb-4">Lista</h1>
				<div class="alert alert-success" th:if="${param.eliminarLibro}">Libro eliminado con éxito.</div>
				<div th:unless="${ratings ne null and ratings.getContent().size() gt 0}">
					<p>Esta lista todavía no tiene ningún libro.</p>
					<!-- Ayuda para el usuario -->
					<p th:if="${mismoUsuario ne null and mismoUsuario eq true}">
						Para añadir libros a esta lista ve a la página de detalles de algún libro y añádelos mediante la opción de Añadir a lista.
					</p>
				</div>
				<div class="table-responsive">
					<table th:if="${ratings ne null and ratings.getContent().size() gt 0}" class="table table-striped">
						<thead>
							<tr>
								<th>Libro</th>
								<th>Estado</th>
								<th>Favorito</th>
								<th>Puntuación</th>
								<th th:if="${mismoUsuario ne null and mismoUsuario eq true}">Eliminar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="rating : ${ratings}">
								<td><a th:href="@{/libros/{id}(id=${rating.id})}" th:text="${rating.titulo}"></a></td>
								<td th:text="${rating.estado == null ? 'Ninguno' : rating.estado}"></td>
								<td th:text="${rating.favorito ne null and rating.favorito ? 'Sí' : 'No'}"></td>
								<td th:text="${rating.puntuacion == null ? 'Sin puntuar' : rating.puntuacion}"></td>
								<td th:if="${mismoUsuario ne null and mismoUsuario eq true}">
									<form th:action="@{/listas/{idLista}/libro/eliminar/{idLibro}(idLista=${lista.id},idLibro=${rating.id})}" method="post">
										<input type="submit" class="btn btn-sm btn-danger" value="Eliminar"/>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<!-- Paginación -->
				<nav aria-label="Paginación" class="paging" th:if="${ratings ne null and ratings.getContent().size() gt 0}">
					<ul class="pagination" th:if="${ratings.getTotalPages() > 1}">
						<li class="page-item"
							th:classappend="${ratings.isFirst() ? 'disabled' : ''}"><a
							class="page-link"
							th:href="@{'?page=' + ${ratings.getNumber() - 1}}"
							tabindex="-1">Anterior</a></li>
						<th:block
							th:each="iter : ${#numbers.sequence(1, ratings.getTotalPages())}">
							<li class="page-item"
								th:classappend="${iter -1 == ratings.getNumber() ? 'active' : ''}">
								<a class="page-link"
								th:href="@{'?page=' + ${iter - 1}}"
								th:text="${iter}"></a>
							</li>
						</th:block>
						<li class="page-item"
							th:classappend="${ratings.isLast()? 'disabled' : ''}"><a
							class="page-link"
							th:href="@{'?page=' + ${ratings.getNumber() + 1 }}">Siguiente</a>
						</li>
					</ul>
				</nav>
			</div>
			
			<div class="row" th:unless="${privado eq null}">
				<p>Esta lista es privada.</p>
			</div>
		</div>
	</main>
	<footer th:replace="fragments/footer :: footer"> </footer>
	<th:block th:replace="fragments/footer :: baseScripts" />
</body>
</html>